{% extends 'layout/base.html' %}
{% block title %} Trang chu {% endblock %}
{% block content %}
{% include 'layout/carousel.html' %}
<div class="container-fluid product-container">
{% if products %}
    <div id="products" class="row">
        {% for p in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 product-item">
            <div class="product-card" >
                <div class="product-image" >
                    <a href="{{ url_for('product_detail', product_id=p.id) }}">
                        <img src="{{ p.image }}" alt="{{p.name}}">
                    </a>
                </div>
                <div class="product-details" >
                    <h4 class="product-title">{{ p.name }}</h4>
                    <p class="product-price">{{ "{:,.0f}".format(p.price).replace(',', '.') }} VND</p>
                    <div class="product-buttons">
                        <a href="#" class="btn btn-order" onclick="add_to_cart(event, '{{ p.id }}', '{{ p.name }}', '{{ p.price }}')">
                            <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng
                        </a>
                        <a href="{{ url_for('product_detail', product_id=p.id)}}" class="btn btn-detail">
                            <i class="fas fa-info-circle"></i> Chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% if pagination.pages > 1 %}
<div class="pagination-container">
    <ul class="pagination">
        {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=pagination.prev_num, category_id=category_id) }}">«</a>
            </li>
        {% endif %}

        {% for page in pagination.iter_pages() %}
            {% if page %}
                <li class="page-item {% if page == pagination.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('index', page=page, category_id=category_id) }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=pagination.next_num, category_id=category_id) }}">»</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}

    {% else %}
        <p><i>No products found.</i></p>
    {% endif %}
</div>


{% endblock %}

